!!! 5
html
  head
    title resmin test suite
    //- Stylesheets
    - each url in resmin.css.all
      link(rel='stylesheet', href=url)
    //- Scripts
    - each url in resmin.js.all
      script(src=url)
  body!= body